@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}




header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding-left: 354px;

    .header-top {
        display: flex;
        align-items: center;

        .header-title {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            color: #000000;
        }

        .add-todo {
            width: 183px;
            height: 46px;
            border: none;
            background: #007FFF;
            border-radius: 10px;
            margin-left: 26px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }


    .header-nav {
        margin-top: 38px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        outline: none;
        text-decoration: none;

        a {
            text-decoration: none !important;
        }

        .header-span {
            margin-left: 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
        }

        .activeShit {
            color: #007FFF;
        }

    }
}

main {
    position: relative;
    top: 170px;
    margin: 0 auto;
    padding-left: 354px;
    left: 0;

    padding-top: 38px;

    .main-header {
        height: fit-content;
        width: 100%;

        .main-nav {
            display: flex;
            align-items: center;
            border-bottom: 2px solid #D5D7E4;
            width: fit-content;
            padding-bottom: 10px;
            width: 1130px;

            .main-header-title {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #949494;
            }

            .main-header-title:nth-child(1) {
                width: 200px;
                margin-right: 68px;
            }

            .main-header-title:nth-child(2) {
                width: 492px;
                margin-right: 37px;
            }

            .main-header-title:nth-child(3) {
                width: 50px;
                margin-right: 68px;
            }

            .main-header-title:nth-child(4) {
                width: 35px;
                margin-right: 75px;
            }

        }

        .index-cont {

            width: fit-content;

            .item {
                min-height: 70px;
                width: 1130px;
                display: flex;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid #D5D7E4;

                .item-p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }

                .item-p:nth-child(1) {
                    // margin-right: 137px;
                    width: 200px;
                    margin-right: 68px;
                }

                .item-p:nth-child(2) {
                    width: 492px;
                    margin-right: 37px;
                }

                .item-p:nth-child(3) {
                    width: 85px;
                    margin-right: 33px;
                    // background-color: red;
                }

                .item-p:nth-child(4) {
                    width: 75px;
                    margin-right: 45px;
                }
            }
        }


    }
}


.bg {
    transition: .3s ease;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0;
}

.modal {
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transition: 300ms ease;
}

.pos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.active {
    opacity: 1 !important;
    z-index: 10 !important;
    transition: 300ms ease;
}

.modalTime {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 8px grey;
    padding: 10px;
    width: 370px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: -1;
    opacity: 0;

    transition: 300ms ease;
}

.activeBg {
    opacity: 1 !important;
    z-index: 3 !important;
    transition: 300ms ease;
}

.krestik {
    transition: 200ms ease;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
}

.icon-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.krestik:hover {
    fill: rgb(196, 49, 49);
    stroke: rgb(196, 49, 49);
    cursor: pointer;
}


.modalAdding {
    width: 632px;
    height: 577px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 56px 97px;
    text-align: left;

    .form-title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        margin-bottom: 32px;
        color: #000000;
        text-align: left;
    }

    .add-btn {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        width: 438px;
        height: 56px;
        background: #0047FF;
        border-radius: 10px;
    }

    input,
    select {
        outline: none;
        width: 438px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 8px;
        padding-left: 20px;
    }

    .icon-cont {
        display: flex;
        align-items: center;
    }

    .krestik {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 30px;
        right: 30px;
        z-index: 100;
        display: none;
    }
}

.fail {
    color: #FF3F3F !important;
}

.done {
    color: #000000 !important;
}

.progress {
    color: #007FFF !important;
}

.table-cont {
    display: flex;
    align-items: center;
    gap: 25px;

    width: 1200px;
    flex-wrap: wrap;

    .item-table {
        padding: 24px;
        width: 350.67px;
        height: 228px;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .table-title {}

    .table-title:nth-child(1) {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        /* identical to box height */


        color: #000000;
        margin-bottom: 11px;
    }

    .table-title:nth-child(2) {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        color: #A5A5B4;
        margin-bottom: 16px;
    }

    .cont-p {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        color: #000000;
        display: flex;
        gap: 26px;
        margin-bottom: 16px;
    }

    .table-bottom {
        font-size: 14px;
    }
}

body {
    background-color: #F4F5FE;
}

.item {
    position: relative;
    transition: 300ms ease;
}

.delete-icon {
    cursor: pointer;
    width: 30px;
    position: absolute;
    // top: 50%;
    right: -30px;
    // z-index: -1;
    opacity: 0;
    transition: 300ms ease;
}

.edit-icon {
    width: 20px;
    cursor: pointer;
    position: absolute;
    transition: 300ms ease;
    opacity: 0;
    right: -250px;
}

.item:hover .delete-icon {
    right: -55px;
    opacity: 1;

}

.item:hover .edit-icon {
    right: -90px;
    opacity: 1;
}

.delete-icon:hover {
    right: -55px;
    opacity: 1;
}

.edit-icon:hover {
    right: -90px;
    opacity: 1;
}

.delete-icon-table {
    width: 30px;
    opacity: 1;
    cursor: pointer;
}


.item-table-cont {
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item,
.item-table {
    transition: 300ms ease;
    cursor: pointer;
    padding: 5px;
}
.item:hover,
.item-table:hover {
    box-shadow: 0 0 8px black;
}